{namespace x=Tx_Xform_ViewHelpers}

<x:CssToInline cssFile="typo3conf/ext/xform/Resources/Private/Templates/Email/TipAFriend.css">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Einladung A</title>
</head>
<body>
	<style type="text/css">
		a:hover { color: #ff8418 !important; text-decoration: underline; }
		a:link { color: #475678; text-decoration: underline; }
		a:visited {color: #475678; text-decoration: underline; }
	</style>
	<center>
		<table cellspacing="0" cellpadding="0" border="0" id="outerTable">
			<tr>
				<td align="center" valign="top" id="aboveHeader">Wird diese Nachricht nicht richtig dargestellt <a href="http://www.dermann.at/newsletters/einladung-a/">klicken Sie bitte hier</a> für die Online-Version.</td>
			</tr>
			<tr>
				<td align="center" valign="middle" id="header">
					<p><img src="fileadmin/main/newsletter/header/Header-700x198.jpg" alt="" width="700" height="198" /></p>
				</td>
			</tr>
			<tr>
				<td align="center" valign="middle" id="footer" background="fileadmin/templates/default/direct_mail/images/Footer_700x112.jpg">
					<strong>"Der Mann, der verwöhnt"</strong><br />
					Backwaren Gmbh & Co, 1230 Wien, Perfektastrasse 100<br />
					<a class="redlink" href="http://www.dermann.at">www.dermann.at</a>
				</td>
			</tr>
		</table>
	</center>
</body>
</html>
</x:CssToInline>