{namespace x=Tx_Xform_ViewHelpers}

<f:layout name="Default" />

This template displays a NEW form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        New.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>New Form</h1>

<f:flashMessages />


<x:form method="post" action="create"  name="newForm" object="{newForm}">
	<f:form.errors>
		<div class="error">
			{error.message}
			<f:if condition="{error.propertyName}">
				<p>
					<strong>{error.propertyName}</strong>:
					<f:for each="{error.errors}" as="errorDetail">
						{errorDetail.message}
					</f:for>
				</p>
			</f:if>
		</div>
	</f:form.errors>
	
<f:form.errors>
  <li>{error.code}: {error.message}</li>
</f:form.errors>

	<label for="name">
		<f:translate key="tx_xform_domain_model_form.name" />
	</label><br />
		<f:form.textfield property="name" /><br />
	<label for="email">
		<f:translate key="tx_xform_domain_model_form.email" />
	</label><br />
		<f:form.textfield property="email" /><br />
	<label for="nameto">
		<f:translate key="tx_xform_domain_model_form.nameto" />
	</label><br />
		<f:form.textfield property="nameto" /><br />
	<label for="emailto">
		<f:translate key="tx_xform_domain_model_form.emailto" />
	</label><br />
		<f:form.textfield property="emailto" /><br />
	<label for="description">
		<f:translate key="tx_xform_domain_model_form.description" />
	</label><br />
		<f:form.textfield property="description" /><br />
	
	<button type="submit">create</button>
</x:form>
</f:section>